git+https://github.com/Joelkb/cinemagoer
pyrogram
imdbpy
tgcrypto
pymongo[srv]
motor
marshmallow==3.14.1
umongo
cinemagoer
requests
bs4
heroku3
pynewtonmath
pytz
aiohttp
shortzy
pytz
hachoir
Pillow
humanize
aiofiles
dnspython
pynewtonmath
python-dotenv==0.21.1
apscheduler
pyshorteners
psutil
pyromod
colorama
beautifulsoup4
gunicorn==20.1.0
numpy
yt-dlp==2023.11.16
olefile
loggers
filetype
tldextract
lk21
Flask==2.2.2


#---master---# 
#Telethroid==0.0.28 
PyLeaves==1.0.2 
  
  
 
#---ytdl----# 
ffmpeg
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl
requests 
  
  
#---others----# 
opencv-python-headless==4.9.0.80 
googletrans==3.1.0a0 
telegraph==2.2.0 
python-dotenv==1.0.1 
gTTS==2.3.1 
speedtest==0.0.1 
humanize==4.6.0 
Pillow==9.4.0 
psutil==5.9.4 
NumPy 
wheel 
ujson 
wget 
pytz
aiofiles
dnspython==2.3.0
### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python>=0.2.0
ytthumb

jinja2
apscheduler
pyshorteners
pyromod
colorama
openai==0.25.0



  
